html {
	font-family: Arial;
}

body {
	margin: 0;
	background-attachment: fixed;
	overflow-x: hidden;
}

#header {
	background-color: #ffebcd;
	width: 100%;
	padding: 35px;
	text-align: center;
	font-size: 65px;
	opacity: 0.75;
}

#judul {
	/*color: #2c9c91;*/
	z-index: 1;
}

.content {
	color: white;
	padding-bottom: 40px;
}

.headline {
	padding: 30px;
	font-size: 40px;
	text-align: center;
}

#footer {
	text-align: right;
	padding: 5px;
	margin-bottom: -20px;
}

.isi {
	font-size: 18px;
	text-align: justify;
}

.isi a {
	color: white;
	text-decoration: underline;
}

em {
	font-size: 20px;
}

.green {
	background-color: #8BC34A;	
}

.red {
	background-color: #EF5350;	
}

.blue {
	background-color: #1E88E5;	
}

.white {
	background-color: #FAFAFA;
}

.gray {
	background-color: #848484;
}

.pupus {
	background-color: #cad1a8;
}

.black {
	color: black;
	opacity: 0.75;
}